.container_projects{
    background-color: var(--backcolor_red);
}

.project_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.project_card:nth-last-child(2),
.project_card:last-child{
    grid-column: span 1;
}

.project_card:nth-last-child(2){
    justify-self: end;
}

.project_card:last-child{
    justify-self: start;
}

.project_card{
    background-color: var(--backcolor_red);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    text-align: center;
    width: 100%;
}

.project_card:hover{
    transform: scale(1.03);
}

.project_card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project_card h3{
    padding: 16px;
    font-size: 16px;
    color: #d8eefc;
}